
!.vscode/extensions.json
# Editor directories and files
# Logs
*.env
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.cache/
.env
.env.development
.env.local
.env.production
.idea
.idea/
.next/
.vercel/
.vscode/
.vscode/*
build/
dist
dist-ssr
dist/
lerna-debug.log*
logs
node_modules
node_modules/
npm-debug.log*
pnpm-debug.log*
public/firebase-config.js
yarn-debug.log*
yarn-error.log*
